# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Release bot

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25.7"

      - name: Build
        run: |
          export BUILD_VERSION=${{ github.ref_name }}
          ./create_binaries.sh

      - name: Build Docker image
        run: |
          export BUILD_VERSION=${{ github.ref_name }}
          cp playerlistbot.linux-amd64 build/playerlistbot
          cd build
          docker build -t ghcr.io/${{ github.repository }}/playerlist-bot:${BUILD_VERSION} .

      - name: Log in to GitHub Packages
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker image
        run: |
          export BUILD_VERSION=${{ github.ref_name }}
          docker push ghcr.io/${{ github.repository }}/playerlist-bot:${BUILD_VERSION}

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          files: playerlistbot.darwin-amd64  playerlistbot.darwin-arm64  playerlistbot.linux-amd64  playerlistbot.linux-arm64  playerlistbot.windows-amd64.exe
